# Backend
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/agenda_metalique?schema=public
REDIS_URL=redis://localhost:6379
JWT_SECRET=change-me
GOOGLE_MAPS_API_KEY=
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_PROJECT_ID=
GOOGLE_CALENDAR_ID=primary

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3333/api
